{% extends 'base.html.twig' %}

{% block title %}Blog!{% endblock %}

{% block body %}

    <div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1>Hello, {{ app.user.username }}! ✅</h1>
        {% else %}
            <h1>Welcome to Blog</h1>
        {% endif %}

{% endblock %}